<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,89}</string>
                <key>spriteSourceSize</key>
                <string>{42,89}</string>
                <key>textureRect</key>
                <string>{{149,1798},{42,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,89}</string>
                <key>spriteSourceSize</key>
                <string>{42,89}</string>
                <key>textureRect</key>
                <string>{{193,1798},{42,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{57,53}</string>
                <key>textureRect</key>
                <string>{{67,1832},{57,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{1,1732},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{1,1815},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,92}</string>
                <key>spriteSourceSize</key>
                <string>{195,92}</string>
                <key>textureRect</key>
                <string>{{162,1326},{195,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,88}</string>
                <key>spriteSourceSize</key>
                <string>{327,88}</string>
                <key>textureRect</key>
                <string>{{72,1269},{327,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{459,90}</string>
                <key>spriteSourceSize</key>
                <string>{459,98}</string>
                <key>textureRect</key>
                <string>{{90,1},{459,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,191}</string>
                <key>spriteSourceSize</key>
                <string>{67,191}</string>
                <key>textureRect</key>
                <string>{{174,1133},{67,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,302}</string>
                <key>spriteSourceSize</key>
                <string>{69,302}</string>
                <key>textureRect</key>
                <string>{{179,829},{69,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,412}</string>
                <key>spriteSourceSize</key>
                <string>{72,412}</string>
                <key>textureRect</key>
                <string>{{182,1},{72,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,87}</string>
                <key>spriteSourceSize</key>
                <string>{203,87}</string>
                <key>textureRect</key>
                <string>{{162,1523},{203,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,89}</string>
                <key>spriteSourceSize</key>
                <string>{338,89}</string>
                <key>textureRect</key>
                <string>{{83,929},{338,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,87}</string>
                <key>spriteSourceSize</key>
                <string>{465,87}</string>
                <key>textureRect</key>
                <string>{{90,462},{465,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,87}</string>
                <key>spriteSourceSize</key>
                <string>{598,87}</string>
                <key>textureRect</key>
                <string>{{1,1},{598,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,191}</string>
                <key>spriteSourceSize</key>
                <string>{67,191}</string>
                <key>textureRect</key>
                <string>{{1,1451},{67,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,302}</string>
                <key>spriteSourceSize</key>
                <string>{69,302}</string>
                <key>textureRect</key>
                <string>{{1,1147},{69,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,93}</string>
                <key>spriteSourceSize</key>
                <string>{94,93}</string>
                <key>textureRect</key>
                <string>{{67,1668},{94,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,412}</string>
                <key>spriteSourceSize</key>
                <string>{72,412}</string>
                <key>textureRect</key>
                <string>{{182,415},{72,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,85}</string>
                <key>spriteSourceSize</key>
                <string>{68,85}</string>
                <key>textureRect</key>
                <string>{{70,1598},{68,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,85}</string>
                <key>spriteSourceSize</key>
                <string>{68,85}</string>
                <key>textureRect</key>
                <string>{{162,1728},{68,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{1,1644},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{66,80}</string>
                <key>textureRect</key>
                <string>{{67,1764},{66,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vipUpLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,271}</string>
                <key>spriteSourceSize</key>
                <string>{80,271}</string>
                <key>textureRect</key>
                <string>{{1,874},{80,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipUpRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,271}</string>
                <key>spriteSourceSize</key>
                <string>{83,271}</string>
                <key>textureRect</key>
                <string>{{1,601},{83,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>article.png</string>
            <key>size</key>
            <string>{255,1897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:446845e1b74b73156722320af820e96b:f17be102b74f0c21d57309819872e247:9666737de3143d2e8b08e570778c408b$</string>
            <key>textureFileName</key>
            <string>article.png</string>
        </dict>
    </dict>
</plist>
